# Ignorer le répertoire mlruns
/mlruns

# Ignorer le fichier projet7v2.ipynb
/projet7v2.ipynb

# Ignorer mlartifacts
/mlartifacts

# Ignorer tous les fichiers CSV
*.csv

# Ne pas ignorer ces fichiers spécifiques
!feature_importances_with_type.csv


# Ignorer tous les fichiers PNG
*.png

# Ne pas ignorer ce fichier spécifique
!test_client.csv
